.d_section2 {
  .tw-container {
    .tw-wrapper {
      display: flex;
      justify-content: space-between;
      padding-top: p(100);
      padding-bottom: p(100);
      .main_post {
        width: p(741);
        h2 {
          font-family: "utm-alter-gothic.ttf";
          font-weight: 400;
          font-size: p(40);
          line-height: p(50);
          text-transform: uppercase;
          color: #262626;
          margin-bottom: p(26);
          margin-top: 0;
          @include MB {
            font-size: m(22);
            margin-bottom: m(20);
          }
          @include MB576 {
            font-size: m375(26);
            line-height: m375(30);
            margin-bottom: m375(15);
          }
        }
        h3 {
          font-family: "utm-alter-gothic.ttf";
          font-weight: 400;
          font-size: p(30);
          line-height: p(40);
          text-transform: uppercase;
          color: #262626;
          margin-bottom: p(26);
          margin-top: 0;
          @include MB {
            font-size: m(18);
            margin-bottom: m(20);
          }
          @include MB576 {
            font-size: m375(22);
            line-height: m375(26);
            margin-bottom: m375(16);
          }
        }
        h4 {
          font-family: "utm-alter-gothic.ttf";
          font-weight: 400;
          font-size: p(20);
          line-height: p(30);
          text-transform: uppercase;
          color: #262626;
          margin-bottom: p(26);
          margin-top: 0;
          @include MB {
            font-size: m(16);
            margin-bottom: m(20);
          }
          @include MB576 {
            font-size: m375(18);
            line-height: m375(24);
            margin-bottom: m375(16);
          }
        }
        p {
          font-family: "sofia-regular.ttf";
          margin: p(15) 0;
          font-size: p(16);
          line-height: p(26);
          font-weight: 400;
          color: rgba(0, 0, 0, 0.65);
          @include MB {
            font-size: m(11);
            line-height: m(18);
            margin: m(10) 0;
          }
          @include MB576 {
            font-size: m375(12);
            line-height: m375(18);
            margin: m375(10) 0;
          }
        }
        figure {
          margin: p(36) 0;
          display: flex;
          @include MB {
            margin: m(20) 0;
          }
          @include MB576 {
            margin: m375(20) 0;
          }
          img {
            margin: 0 auto;
          }
        }
        ul {
          font-size: p(16);
          margin: p(15) 0;
          @include MB {
            font-size: m(11);
            line-height: m(18);
            margin: m(10) 0;
          }
          @include MB576 {
            font-size: m375(12);
            line-height: m375(18);
            margin: m375(10) 0;
          }
        }
        ol {
          font-size: p(16);
          margin: p(15) 0;
          @include MB {
            font-size: m(11);
            line-height: m(18);
            margin: m(10) 0;
          }
          @include MB576 {
            font-size: m375(12);
            line-height: m375(18);
            margin: m375(10) 0;
          }
        }
        strong,
        b {
          font-size: p(16);
          font-family: "sofia-semibold.ttf";
          margin: p(15) 0;
          display: inline-block;
          @include MB {
            font-size: m(11);
            line-height: m(18);
            margin: m(10) 0;
          }
          @include MB576 {
            font-size: m375(12);
            line-height: m375(18);
            margin: m375(10) 0;
          }
        }
        a {
          font-size: p(16);
          margin: p(15) 0;
          display: inline-block;
          text-decoration: none;
          font-style: italic;
          @include MB {
            font-size: m(11);
            line-height: m(18);
            margin: m(10) 0;
          }
          @include MB576 {
            font-size: m375(12);
            line-height: m375(18);
            margin: m375(10) 0;
          }
        }
      }
      .more_field {
        width: p(384);
        overflow: hidden;
        h3 {
          font-family: "utm-alter-gothic.ttf";
          font-weight: 400;
          font-size: p(28);
          line-height: p(36);
          text-transform: uppercase;
          color: #262626;
          margin-bottom: p(26);
          margin-top: 0;
          @include MB {
            font-size: m(18);
            margin-bottom: m(20);
          }
          @include MB576 {
            font-size: m375(22);
            line-height: m375(26);
            margin-bottom: m375(16);
          }
        }
        h4 {
          font-family: "utm-alter-gothic.ttf";
          font-weight: 400;
          font-size: p(20);
          line-height: p(30);
          text-transform: uppercase;
          color: #262626;
          margin-bottom: p(26);
          margin-top: 0;
          @include MB {
            font-size: m(16);
            margin-bottom: m(20);
          }
          @include MB576 {
            font-size: m375(18);
            line-height: m375(24);
            margin-bottom: m375(16);
          }
        }
        .wrap_more_field {
          display: flex;
          flex-direction: column;
          gap: p(8);
          .post_dif {
            display: block;
            width: p(384);
            height: p(200);
            overflow: hidden;
            position: relative;
            &:hover {
              img {
                transition: all 0.5s;
                transform: scale(1.08);
                opacity: 0.9;
              }
              .info-label {
                img {
                  transform: rotate(180deg);
                  transition: all 0.5s;
                }
              }
            }
            &::after {
              position: absolute;
              content: "";
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 40.64%,
                #000000 128.25%
              );
            }
            img {
              transition: all 0.5s;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
            .info-label {
              position: absolute;
              bottom: p(12);
              z-index: 2;
              z-index: 2;
              display: flex;
              align-items: center;
              width: 100%;
              justify-content: space-between;
              padding: 0 p(20);
              p {
                font-weight: 600;
                font-size: p(18);
                line-height: p(24);
                color: #ffffff;
                margin: 0;
              }
              img {
                transition: all 0.5s;
                width: p(22);
                height: p(22);
              }
            }
          }
        }
      }
    }
  }
  .post {
    padding: p(100) p(324);
    @media (max-width: 820px) {
      padding: p(80) p(240);
    }
    @include MB576 {
      padding: m375(30) m375(30);
    }
    h2 {
      font-family: "utm-alter-gothic.ttf";
      font-weight: 400;
      font-size: p(40);
      line-height: p(50);
      text-transform: uppercase;
      color: #262626;
      margin-bottom: p(26);
      margin-top: 0;
      @include MB {
        font-size: m(22);
        margin-bottom: m(20);
      }
      @include MB576 {
        font-size: m375(26);
        line-height: m375(30);
        margin-bottom: m375(15);
      }
    }
    h3 {
      font-family: "utm-alter-gothic.ttf";
      font-weight: 400;
      font-size: p(30);
      line-height: p(40);
      text-transform: uppercase;
      color: #262626;
      margin-bottom: p(26);
      margin-top: 0;
      @include MB {
        font-size: m(18);
        margin-bottom: m(20);
      }
      @include MB576 {
        font-size: m375(22);
        line-height: m375(26);
        margin-bottom: m375(16);
      }
    }
    h4 {
      font-family: "utm-alter-gothic.ttf";
      font-weight: 400;
      font-size: p(20);
      line-height: p(30);
      text-transform: uppercase;
      color: #262626;
      margin-bottom: p(26);
      margin-top: 0;
      @include MB {
        font-size: m(16);
        margin-bottom: m(20);
      }
      @include MB576 {
        font-size: m375(18);
        line-height: m375(24);
        margin-bottom: m375(16);
      }
    }
    p {
      font-family: "sofia-regular.ttf";
      margin: p(15) 0;
      font-size: p(16);
      line-height: p(26);
      font-weight: 400;
      color: rgba(0, 0, 0, 0.65);
      @include MB {
        font-size: m(11);
        line-height: m(18);
        margin: m(10) 0;
      }
      @include MB576 {
        font-size: m375(12);
        line-height: m375(18);
        margin: m375(10) 0;
      }
    }
    figure {
      margin: p(36) 0;
      display: flex;
      @include MB {
        margin: m(20) 0;
      }
      @include MB576 {
        margin: m375(20) 0;
      }
      img {
        margin: 0 auto;
      }
    }
    ul {
      font-size: p(16);
      margin: p(15) 0;
      @include MB {
        font-size: m(11);
        line-height: m(18);
        margin: m(10) 0;
      }
      @include MB576 {
        font-size: m375(12);
        line-height: m375(18);
        margin: m375(10) 0;
      }
    }
    ol {
      font-size: p(16);
      margin: p(15) 0;
      @include MB {
        font-size: m(11);
        line-height: m(18);
        margin: m(10) 0;
      }
      @include MB576 {
        font-size: m375(12);
        line-height: m375(18);
        margin: m375(10) 0;
      }
    }
    strong,
    b {
      font-size: p(16);
      font-family: "sofia-semibold.ttf";
      margin: p(15) 0;
      display: inline-block;
      @include MB {
        font-size: m(11);
        line-height: m(18);
        margin: m(10) 0;
      }
      @include MB576 {
        font-size: m375(12);
        line-height: m375(18);
        margin: m375(10) 0;
      }
    }
    a {
      font-size: p(16);
      margin: p(15) 0;
      display: inline-block;
      text-decoration: none;
      font-style: italic;
      @include MB {
        font-size: m(11);
        line-height: m(18);
        margin: m(10) 0;
      }
      @include MB576 {
        font-size: m375(12);
        line-height: m375(18);
        margin: m375(10) 0;
      }
    }
  }
  .more_post {
    h3 {
      font-family: "utm-alter-gothic.ttf";
      font-weight: 400;
      font-size: p(30);
      line-height: p(40);
      text-transform: uppercase;
      color: #262626;
      margin-bottom: p(26);
      margin-top: 0;
      @include MB {
        font-size: m(18);
        margin-bottom: m(20);
      }
      @include MB576 {
        font-size: m375(22);
        line-height: m375(26);
        margin-bottom: m375(16);
      }
    }
    h4 {
      font-family: "utm-alter-gothic.ttf";
      font-weight: 400;
      font-size: p(20);
      line-height: p(30);
      text-transform: uppercase;
      color: #262626;
      margin-bottom: p(26);
      margin-top: 0;
      @include MB {
        font-size: m(16);
        margin-bottom: m(20);
      }
      @include MB576 {
        font-size: m375(18);
        line-height: m375(24);
        margin-bottom: m375(16);
      }
    }
    .block_lv {
      .item_right {
        display: block;
        width: p(384);
        height: p(200);
        img {
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
