.dp_section2 {
  .tw-container {
    .tw-wrapper {
      margin: p(100) 0 p(120) 0;
      padding: 0 p(222);
      .info_generation {
        padding-top: p(26);
        display: flex;
        align-items: center;
        gap: p(75);
        margin-bottom: p(40);
        @include MB {
          flex-direction: column;
        }
        .minh_hoa {
          width: p(486);
          height: p(480);
          @include MB {
            width: 100%;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        ._introduce {
          width: p(498);
          @include MB {
            width: 100%;
          }
          .tw-title {
            @include MB {
              width: 100%;
            }
          }
          ul {
            list-style: none;
            padding: 0;
            margin: p(38) 0 p(24) 0;
            @include MB {
              margin: m(38) 0 m(24) 0;
            }
            li {
              position: relative;
              align-items: center;
              display: flex;
              padding-left: p(16);
              margin: p(8) 0;
              @media (max-width: 1024px) {
                justify-content: space-between;
              }
              @include MB {
                align-items: baseline;
                padding-left: m(16);
              }
              &::before {
                position: absolute;
                content: "";
                width: p(6);
                height: p(6);
                background: #bb1a21;
                border-radius: 50%;
                left: 0;
                @include MB {
                  width: m(6);
                  height: m(6);
                  top: 20%;
                }
              }
              span {
                width: p(94);
                letter-spacing: -0.02em;
                color: #262626;
                font-family: "sofia-medium.ttf";
                //   @include MB {
                //     width: m(94);
                //   }
                @media (max-width: 1024px) {
                  width: p(120);
                }
                @include MB {
                  width: m(120);
                }
              }
              p {
                // width: p(313);
                margin: 0;
                @include MB {
                  width: m(313);
                }
              }
            }
          }
          .dif_intro {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            @include MB {
              justify-content: space-between;
            }
            .item {
              width: p(231);
              margin-bottom: p(20);
              @include MB {
                width: m(231);
                margin-bottom: m(20);
              }
              &:last-child {
                .final {
                  font-family: "sofia-light.ttf";
                  font-size: p(12);
                  line-height: p(12);
                  color: #8c8c8c;
                  @include MB {
                    font-size: m(12);
                    line-height: m(12);
                  }
                }
              }
              p {
                margin: 0;
                font-family: "sofia-medium.ttf";
                font-size: p(14);
                @include MB {
                  font-size: m(14);
                }
              }
              h2 {
                font-family: "sofia-bold.ttf";
                margin: 0;
                color: #bb1a21;
                font-size: p(36);
                line-height: p(50);
                @include MB {
                  font-size: m(36);
                  line-height: m(50);
                }
              }
            }
          }
        }
      }
      p {
        font-size: p(16);
      }
      .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: p(10);
        flex-direction: row;
        justify-content: center;
        margin: p(36) 0;
        .picture_gallery {
          overflow: hidden;
          img {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}
