.container_details {
  padding: p(100) 0 p(120);
  display: flex;
  justify-content: space-between;
  @include MB576 {
    flex-direction: column;
  }
  h3 {
    font-family: "utm-alter-gothic.ttf";
    font-weight: 400;
    font-size: p(28);
    line-height: p(36);
    text-transform: uppercase;
    color: #262626;
    margin-bottom: p(26);
    margin-top: 0;
    @include MB {
      font-size: m(18);
      margin-bottom: m(20);
    }
    @include MB576 {
      font-size: m375(28);
      line-height: m375(36);
      margin-bottom: m375(26);
    }
  }
  .title_time_post {
    width: p(741);
    @media (max-width: 1024px) {
      width: p(811);
    }
    @include MB576 {
      width: 100%;
    }
    .top {
      border-bottom: p(1) solid #d9d9d9;
      @include MB576 {
        border-bottom: m375(1) solid #d9d9d9;
      }
      .publish-time {
        margin: p(12) 0 p(30);
        display: flex;
        align-items: center;
        gap: p(10);
        @include MB576 {
          margin: m375(12) 0 m375(15);
          gap: m375(6);
        }
        img {
          width: p(16);
          height: p(16);
          @include MB576 {
            width: m375(12);
            height: m375(12);
          }
        }
        span {
          font-weight: 400;
          font-size: p(14);
          line-height: p(24);
          color: #a6a6a6;
          margin: 0;
          @include MB576 {
            font-size: m375(12);
            line-height: m375(20);
          }
        }
      }
      .title_post {
        transition: 0.5s;
        font-family: "sofia-semibold.ttf";
        font-weight: 500;
        font-size: p(24);
        line-height: p(32);
        color: #262626;
        margin: 0;
        overflow: hidden;
        word-break: break-word;
        display: -webkit-box;
        // -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        @include MB576 {
          font-size: m375(22);
          line-height: m375(30);
        }
      }
    }
    ._post {
      padding-top: p(30);
      @include MB576 {
        padding-top: m375(15);
      }
      strong,
      b {
        font-family: "sofia-semibold.ttf";
        letter-spacing: -0.02em;
      }
      p {
        font-family: "sofia-light.ttf";
        color: #595959;
      }
      figure {
        margin: p(24) 0;
        @include MB576 {
          margin: m375(16) 0;
        }
        img {
          display: block;
          margin: auto;
        }
        figcaption {
          font-family: "sofia-light.ttf";
          font-style: italic;
          font-weight: 300;
          font-size: p(16);
          line-height: p(26);
          text-align: center;
          letter-spacing: -0.02em;
          margin-top: p(12);
          @include MB576 {
            font-size: m375(14);
            line-height: m375(18);
            margin-top: m375(8);
          }
        }
      }
    }
  }
  .latest_news {
    width: p(384);
    @media (max-width: 1024px) {
      width: p(414);
    }
    @include MB576 {
      width: 100%;
      margin-top: m375(20);
    }
    .wrap_flex_list_news {
      display: flex;
      flex-direction: column;
      gap: p(12);
      padding-bottom: p(50);
      @include MB576 {
        gap: m375(10);
        padding-bottom: m375(30);
      }
      .item_news_latest {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-decoration: none;
        align-items: center;
        &:hover {
          .thumbnail {
            img {
              transform: scale(1.08);
              transition: 0.5s;
              opacity: 0.9;
            }
          }
          .desc_news {
            .title_post {
              color: #bb1a21;
              transition: 0.5s;
            }
          }
        }
        .thumbnail {
          width: p(140);
          height: p(100);
          overflow: hidden;
          @media (max-width: 1024px) {
            width: p(170);
            height: p(120);
          }
          @include MB576 {
            width: m375(120);
            height: m375(80);
          }
          img {
            width: 100%;
            height: 100%;
            transition: 0.5s;
            display: block;
            object-fit: cover;
            object-position: center;
          }
        }
        .desc_news {
          width: p(228);
          @include MB576 {
            width: m375(180);
          }
          .publish-time {
            margin: 0;
            display: flex;
            align-items: center;
            gap: p(8);
            @include MB576 {
              gap: m375(5);
            }
            img {
              width: p(14);
              height: p(14);
              @include MB576 {
                width: m375(11);
                height: m375(11);
              }
            }
            span {
              font-weight: 400;
              font-size: p(14);
              line-height: p(16);
              color: #a6a6a6;
              margin: 0;
              @include MB576 {
                font-size: m375(12);
                line-height: m375(14);
              }
            }
          }
          .title_post {
            transition: 0.5s;
            font-family: "sofia-medium.ttf";
            font-size: p(16);
            line-height: p(24);
            color: #262626;
            margin: 0 0 p(6) 0;
            overflow: hidden;
            word-break: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            @include MB576 {
              font-size: m375(14);
              line-height: m375(20);
              margin: 0 0 m375(4) 0;
            }
          }
        }
      }
    }
  }
}
