.footer-main {
  background: #1e1e1e;
  color: #ffffff;
  .ft {
    padding: p(104) 0;
    @include MB576 {
      padding: m375(100) 0;
    }
    .context {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: p(100);
      @include MB576 {
        grid-template-columns: 1fr;
        grid-row-gap: m375(80);
      }
      h4.title {
        font-family: "utm-alter-gothic.ttf";
        text-transform: uppercase;
        font-size: p(24);
        line-height: p(36);
        margin-bottom: p(40);
        @include MB {
          font-size: m(13);
          line-height: m(16);
        }
        @include MB576 {
          font-size: m375(24);
          line-height: m375(36);
          margin-bottom: m375(40);
        }
      }
      .contact {
        .info {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-row-gap: p(36);
          grid-column-gap: p(68);
          font-size: p(14);
          line-height: p(21);
          @include MB {
            font-size: m(7);
            line-height: m(10);
          }
          @include MB576 {
            font-size: m375(14);
            line-height: m375(21);
            grid-template-columns: 1fr;
            grid-row-gap: m375(36);
            grid-column-gap: 0;
          }
          .contact-item {
            .label {
              margin-bottom: p(12);
              font-family: "sofia-semibold.ttf";
              font-size: p(16);
              line-height: p(24);
              @include MB {
                font-size: m(8);
                line-height: m(11);
              }
              @include MB576 {
                font-size: m375(16);
                line-height: m375(24);
                margin-bottom: m375(12);
              }
            }
            .address {
              margin-bottom: p(10);
              @include MB576 {
                margin-bottom: m375(10);
              }
            }
            a {
              transition: 0.3s;
              &:hover {
                color: #d72027;
                transition: 0.3s;
              }
            }
            .phone-fax {
              p {
                img {
                  margin-right: p(6);
                  display: inline;
                  width: p(12);
                  height: p(12);
                  @include MB {
                    width: m(6);
                    height: m(6);
                  }
                  @include MB576 {
                    width: m375(12);
                    height: m375(12);
                    margin-right: m375(6);
                  }
                }
                a {
                  color: #d72027;
                }
              }
            }
            ul {
              li {
                margin-bottom: p(6);
                @include MB576 {
                  margin-bottom: m375(6);
                }
                a {
                  color: #ffffff;
                }
              }
            }
            .social {
              a {
                color: #ffffff;
                display: inline-block;
                margin-right: p(8);
                border: 1px solid #ffffff;
                width: p(32);
                height: p(32);
                border-radius: 50%;
                text-align: center;
                padding-top: p(5);
                transition: 0.3s;
                @include MB576 {
                  margin-right: m375(8);
                }
                &:last-child {
                  margin: 0;
                }
                &:hover {
                  color: #d72027;
                  border: 1px solid #d72027;
                  transition: 0.3s;
                }
              }
            }
          }
        }
      }
    }
  }
  .copyright {
    background-color: #000000;
    padding: p(7) p(15) p(3);
    font-size: p(12);
    line-height: p(20);
    @include MB {
      font-size: p(7);
      line-height: p(9);
    }
    @include MB576 {
      font-size: m375(12);
      line-height: m375(20);
    }
    p {
      text-align: center;
      color: #ffffff;
      a {
        color: #d72027;
      }
    }
  }
}
