.main-header {
    @include position(fixed, 0, 0, auto, 0);
    height: p(70);
    background-color: #ffffff;
    box-shadow: 0px 20px 8px rgba(0, 0, 0, 0.01), 0px 11px 7px rgba(0, 0, 0, 0.03), 0px 5px 5px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
    z-index: 100;
    padding: 0 p(60);
    @include flexBox(center, space-between, row);
    @include MB {
        height: m(40);
        padding: 0 m(30);
    }
    @include MB768 {
        height: m(45);
    }
    .main-logo{
        a{
            display: inline-block;
            img{
                width: p(60);
                @include MB {
                    width: m(35);
                }
            }
        }
    }
    .main-menu{
        height: 100%;
        @include MB768 {
            display: none;
        }
        ul{
            display: flex;
            @include flexBox(center, space-between, row);
            height: 100%;
            li{
                margin-right: p(45);
                height: 100%;
                @include flexBox(center, center);
                position: relative;
                @include MB {
                    margin-right: m(16);
                }
                &:last-child{
                    margin-right: 0;
                }
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    background: #BB1A21;
                    height: 0;
                    transition: .3s;
                }
                &.current-menu-item{
                    &::after{
                        width: 120%;
                        height: p(3);
                    }
                }
                &:hover{
                    &::after{
                        width: 120%;
                        height: p(3);
                    }
                }

                a{
                    color: rgba(0, 0, 0, 0.85);
                    font-family: "sofia-semibold.ttf";
                    font-size: p(15);
                    line-height: p(22);
                    text-transform: uppercase;
                    @include MB {
                        font-size: m(7);
                        line-height: m(13);
                    }
                }
            }
        }
    }
    .search-language{
        @include flexBox(center, center, row);
        button{
            border: none;
            padding: 0;
            margin: 0;
            background: transparent;
            margin-right: p(24);
            cursor: pointer;
            img{
                width: p(20);
                @include MB {
                    width: m(10.5);
                }
                @include MB768 {
                    width: m(14);
                }
            }
        }
        .language{
            position: relative;
            &:hover {
                ul {
                    opacity: 1;
                    visibility: visible
                }
            }
            .flag{
                @include flexBox(center, center, row);
                cursor: pointer;
                span{
                    margin-right: p(4);
                    font-family: "sofia-semibold.ttf";
                    font-size: p(14);
                    line-height: p(22);
                    text-transform: uppercase;
                    @include MB {
                        font-size: m(7);
                        line-height: m(13)
                    }
                    @include MB768 {
                        font-size: m(11);
                        line-height: m(13)
                    }
                }
                img{
                    width: p(6);
                    @include MB {
                        width: m(5);
                    }
                    @include MB768 {
                        width: m(6);
                    }
                }
            }
            ul{
                position: absolute;
                top: p(22.3);
                right: 0;
                background: #ffffff;
                @include flexBox(flex-start, flex-start, column);
                box-shadow: 0px 10px 12px 3px #322f2f30;
                opacity: 0;
                visibility: hidden;
                transition: .3s;
                @include MB {
                    top: m(13.3)
                }
                li {
                    a {
                        font-family: "sofia-semibold.ttf";
                        font-size: p(12);
                        line-height: p(35);
                        text-transform: uppercase;
                        width: p(35);
                        height: p(35);
                        display: inline-block;
                        text-align: center;
                        color: rgba(0,0,0,.5);
                        @include MB {
                            width: m(20);
                            height: m(20);
                            font-size: m(7);
                            line-height: m(20);
                        }
                        @include MB768 {
                            width: m(28);
                            height: m(28);
                            font-size: m(10);
                            line-height: m(28);
                        }
                    }
                }
            }
        }

        .hamburger {
            display: none;
            @include MB768 {
                display: block;
                margin-left: p(24);
                width: m(23);
                padding: m(2);
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                span {
                    width: 100%;
                    height: 2.5px;
                    display: block;
                    background: rgba(0, 0, 0, 0.85);
                    margin-bottom: p(8.5);
                    &:last-child {
                        margin-bottom: 0;
                        width: 55%;
                    }
                }
            }
        }
    }
}